.botao {
    background-color: #B5C033;
    width: 100px;
    height: 40px;
    border-radius: 25px;
    text-align: center;
    margin-top: 10px;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    }

 .botao:hover { 
    background-color: #bbc923;
    transform: scale(1.1);    /* Slightly enlarge the button on hover */
  }
  
