
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .heading {
    text-align: center;
    font-size: 45px; 
    margin-top: 50px; /* Adiciona algum espaçamento superior */
    color: #FFF; /* Adiciona a cor preta para o texto */
    margin-right: 50px;
    font-weight: bold;
  }
  