.whiteBall {
  position: absolute;
  top: 15%;
  left: 17%;
}

.page {
  align-items: center; /* Centraliza verticalmente */
  margin-left: -60%; /* Adicione margem à esquerda */
  margin-top: 10%;
}

.textContainer {
  margin-top: -100px;
}

.botaoGrupo {
  margin-left: 60%;
  margin-top: -15%;
  align-items: center;
}

.botaoContainer {
  display: flex;
  align-items: center; 
  color: white;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  font-family: Inter;
  flex-direction: column; /* Alinha os botões verticalmente */
}

.criarGrupoContainer {
  margin-top: 20px; /* Adiciona espaçamento entre os botões */
  display: flex;
  align-items: center;
}

.texto {
  padding-left: 10px;
  font-size: 30px;
  color: white;
  font-size: 35px;
  font-weight: 600;
  font-family: Inter;
  margin-top: 10px;
}
