.title{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 205%;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 2%;
}

.desafiosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  overflow-y: auto; /* Adiciona scroll vertical */
  max-height: 50vh; /* Ajuste conforme necessário */
}

.desafioItem {
  background-color: #D9D9D9;
  border-radius: 10px;
  width: 30%; /* Ajuste para caber dois itens por linha */
  padding: 1%;
  margin: 1.5%; /* Espaçamento para todos os lados */
  background-color: white;
  text-align: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.desafioItem:hover{
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.861);
}
  
  .desafioItem a {
    text-decoration: none;
    color: #000; 
  }
  
.img {
    position: absolute;
    margin-left: auto;
    top: 3%;
    right: 4%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */
  }
.img:hover{
  transform: scale(1.2) 
}
  
  .img img {
    width: 33px;
    height: auto; 
    margin-left: 5px;
  }
  
