.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #357cd9;
    color: white;
    padding: 1em;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }
  
  .centeredText {
    text-align: center;
    font-size: medium;
  }
  