
.post {
    width: 60vh;
    height: 13vh;
    border-radius: 25px;
    background-color: #FFF; 
    text-align: center;
    align-content: center;
    display: block;
  }

.blueball{
    margin-top: 1%;
    margin-left: 2%;
}

.text{
    align-items: center;
    margin-bottom: 10%;
}