.desafioResolver {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.exercicioTexto {
  padding: 2% 1% 1% 1%;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 30%;
}

.textareaContainer {
  flex: 1;
  position: relative;
  background-color: #001f3f;
}

.codeHighlighter {
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 90%;
  padding: 10px;
  font-family: monospace;
  pointer-events: none;
  overflow: hidden;
  white-space: pre-wrap; /* Allows wrapping of long lines */
  word-wrap: break-word; /* Prevents long words from overflowing */
  font-size: 1em;
  line-height: 1.5em; /* Ensure this matches the textarea */
}

.grupo,
.desafio,
.textoDesafio {
  font-size: 1em;
  width: 100%;
  word-wrap: break-word;
}

.grupo {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 5%;
}

.desafio {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.textoDesafio {
  font-size: 1em;
  width: 100%;
  margin-bottom: 0;
}

.editorTexto {
  width: 98%;
  height: 90%;
  background: transparent;
  color: transparent;
  caret-color: white; /* Ensures caret is visible */
  font-size: 16px;
  margin-top: -25px;
  margin-left: 15px;
  line-height: 1.5em; /* Ensure this matches the codeHighlighter */
  font-family: monospace;
  padding: 59px;
  box-sizing: border-box;
  border: none;
  outline: none;
  z-index: 1;
  resize: none; /* Prevents resizing */
  position: relative;
  white-space: pre-wrap; /* Allows wrapping of long lines */
  word-wrap: break-word; /* Prevents long words from overflowing */
}

.botoesContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 8px;
  margin: 16px;
}

.responseMessage {
  background-color: black;
  color: lime;
  padding: 10px;
  width: 86%;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border: 1px solid #333;
  border-radius: 5px;
  margin-top: 10px;
}
