.desafioResolver {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 16px; /* Adicionado padding geral */
  box-sizing: border-box;
}

.exercicioTexto {
  padding: 2% 1% 1% 1%;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 98%; /* Aumentado para ocupar mais da tela */
  margin-bottom: 16px; /* Adicionado margem inferior para recuo */
}

.textareaContainer {
  flex: 1;
  position: relative;
  background-color: #2b2b2b;
  padding: 16px; /* Adicionado padding para recuo */
  box-sizing: border-box;
  max-height: 65vh;
}

.codeHighlighter {
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 90%;
  padding: 1vh;
  font-family: monospace;
  pointer-events: none;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 1em;
  line-height: 1.5em;
}

.grupo,
.desafio,
.textoDesafio {
  font-size: 1em;
  width: 100%;
  word-wrap: break-word;
}

.grupo {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1%;
}

.desafio {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: underline;
}

.textoDesafio {
  font-size: 1em;
  width: 50%;
  margin-bottom: 0;
  text-align: justify;
}

.editorTexto {
  width: 98%;
  height: 90%;
  background: transparent;
  color: transparent;
  caret-color: white;
  font-size: 16px;
  margin-top: -4vh;
  margin-left: -5vh;
  line-height: 1.5em;
  font-family: monospace;
  padding: 5.9vh;
  box-sizing: border-box;
  border: none;
  outline: none;
  z-index: 1;
  resize: none;
  position: relative;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.botoesContainer {
  position: fixed;
  bottom: 3vh; /* Ajustado para margem inferior */
  right: 3vh; /* Ajustado para margem direita */
  display: flex;
  gap: 0.8vh;
}

.responseMessage {
  background-color: black;
  color: lime;
  padding: 10px;
  width: 86%;
  font-family: 'Courier New', Courier, monospace;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border: 1px solid #333;
  border-radius: 5px;
  margin-top: 10px;
  overflow: scroll;
  max-height: 10vh;
}