:root {
  --primary-color: #4565B7;
  --secondary-color: #6a11cb;
  --secondary-color-hover: #5b0e9c;
  --secondary-color-active: #1d5bbf;
  --gradient-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --gradient-button: linear-gradient(135deg, var(--secondary-color) 0%, #2575fc 100%);
  --font-family: 'Inter', sans-serif;
  --text-color: #333;
}

.title {
  color: #FFF;
  text-align: center;
  font-family: var(--font-family);
  font-size: 2.5rem;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 2%;
}

.desafioContent {
  background: white;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 20px; /* Adicione esta linha */
}

.desafioContent h2 {
  color: black;
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
}

.desafioContent p {
  font-size: 1.125rem;
  color: var(--text-color);
  line-height: 1.6;
  margin-top: 1vh;
  text-align: justify;
}

.containerG {
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
