/* Estilo para o contêiner do formulário de login e cadastro */
.formContainer {
  display: flex;
  justify-content: center; /* Centraliza o formulário horizontalmente */
  align-items: center; /* Centraliza o formulário verticalmente */
  height: 100vh; /* Ajuste conforme necessário para garantir que ocupa a altura total da tela */
}

.body {
  width: 100%;
  max-width: 420px; /* Limita a largura máxima do formulário */
  margin: auto; /* Centraliza o formulário horizontalmente */
  padding: 20px; /* Adiciona espaçamento interno */
  padding-right: 4vh;
  height: 20vh;
}

.formGroup {
  width: 100%;
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px; /* Espaço entre o rótulo e o campo de entrada */
  color: #000; /* Cor do texto dos rótulos */
}

.input,
input[type="password"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="radio"] {
  cursor: pointer;
  accent-color: #0F1234;
}

.button {
  background-color: #0F1234;
  color: #fff;
  padding: 10px 50px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: block; /* Garante que o botão ocupe toda a largura disponível */
  width: 110%; /* Ocupa toda a largura disponível */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transições suaves */
}

.button:hover {
  background-color: #0f1234ac; /* Sombra mais escura de azul no hover */
}

.radioLabel {
  color: #000; /* Cor do texto das opções de rádio */
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adiciona espaço entre os radio buttons */
}
.radioLabel2 {
  color: #000; /* Cor do texto das opções de rádio */
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Adiciona espaço entre os radio buttons */
}

.radioLabel input[type="radio"] {
  margin-right: 1vh; /* Ajusta o espaçamento entre os radio buttons e o texto */
}
.radioLabel2 input[type="radio"]{
  margin-right: 1vh;
}

.radioGroup {
  display: flex;
  flex-direction: column; /* Coloca cada radio em uma linha */
  align-items: flex-start; /* Alinha os itens à esquerda */
}