.formContainer {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 45vh; 
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  width: 100%; 
  max-width: 800px; 
}

.formGroup {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 80%; 
}

label {
  font-weight: bold;
  color: gray; 
}

select,
input,
textarea,
.selectInput .css-yk16xz-control,
.selectInput .css-1pahdxg-control {
  width: 100%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  color: #000; 
  font-family: Arial, sans-serif; 
}

.selectInput .css-1pahdxg-control {
  border-color: #ccc;
  box-shadow: none;
  font-family: Arial, sans-serif;
}

.addContainer {
  display: flex;
  align-items: center; 
}

.textAreaDescription {
  width: 65vh; 
  height: 50vh;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  height: 150px;
  font-family: Arial, sans-serif; 
}

.submitButton {
  background-color: #0F1234;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 60vh;
  margin-top: 10px;
  font-size: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease; 
  font-family: Arial, sans-serif; 
}

.submitButton:hover {
  background-color: #0f1234ac; 
  transform: scale(1.05);
}
