.postsContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 50vh;
  overflow: auto; /* Use auto to show scroll only when necessary */
}

.postsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 95vh;
  padding-top: 2vh;
  gap: 20px;
}

.noPosts {
  height: 100%;
  color: #000;
  font-size: 35px;
  font-weight: 600;
  font-family: Inter;
  padding-left: 15vh;
}

.botaoCriarPostIntegrated {
  width: 60px;
  height: 60px;
  background-color: white;
  border: none;
  border-radius: 50%;
  font-size: 1.5em;
  cursor: pointer;
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  z-index: 1;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transitions */

}

.botaoCriarPostIntegrated:hover{
  background-color: #ccc; /* Darker shade of blue on hover */ 
}

.text {
  margin: 0;
}

.bottomImagesContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.bottomImage {
  width: 30px;
  height: auto;
  margin: 25px;
}

.inverted {
  transform: scaleX(-1);
}
